{% extends 'base.html.twig' %}
{% block title %}Редактирование информации{% endblock %}
{% block header %}Редактирование информации{% endblock %}
{% block body %}
    <ul class="nav nav-tabs">
        {% set uri = app.request.getRequestUri() %}
        <li {{ uri ==  path('user_edit') ? 'class="active"' }}>
            <a href="{{ path('user_edit') }}">Основное</a>
        </li>
        <li {{ uri ==  path('user_edit', {'str': 'security'}) ? 'class="active"' }}>
            <a href="{{ path('user_edit', {'str': 'security'}) }}">Безопасность</a>
        </li>
        <li {{ uri ==  path('user_edit', {'str': 'avatar'}) ? 'class="active"' }}>
            <a href="{{ path('user_edit', {'str': 'avatar'}) }}">Фотография</a>
        </li>
    </ul>
    <br>
        {% block edit_body %}{% endblock %}
{% endblock %}