{% extends 'base.html.twig' %}

{% block title %}Факультеты{% endblock %}
{% block header %}Факультеты{% endblock %}

{% block body %}
    <p><a href="{{ path('admin_panel') }}">Вернуться к панели администратора</a></p>
    <p><a href="{{ path('faculty_new') }}">Добавить факультет</a></p>
    {% if faculties|length > 0 %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Название</th>
            <th>Аббревиатура</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for faculty in faculties %}
        <tr>
            <td><a href="{{ path('departments_list', {'id': faculty.id}) }}">{{ faculty.name }}</a></td>
            <td>{{ faculty.abbr }}</td>
            <td>
                <ul>
                    <li><a href="{{ path('faculty_edit', {'id': faculty.id}) }}">Изменить</a></li>
                    <li><a href="{{ path('faculty_delete', {'id': faculty.id}) }}">Удалить</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Пусто</p>
    {% endif %}
{% endblock %}